<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="form-container">
        <h2>{{ title }}</h2>
    
        <form method="post" action="{{ request.path }}">
            <div class="form-group">
                <label>Ім'я:</label>
                <input type="text" name="first_name" value="{{ item.first_name if item else '' }}" required
                    placeholder="Введіть ім'я">
            </div>
    
            <div class="form-group">
                <label>Прізвище:</label>
                <input type="text" name="last_name" value="{{ item.last_name if item else '' }}" required
                    placeholder="Введіть прізвище">
            </div>
    
            <div class="form-group">
                <label>Телефон:</label>
                <input type="tel" name="phone" value="{{ item.phone if item else '' }}" placeholder="+380..." required>
            </div>
    
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" value="{{ item.email if item else '' }}" placeholder="example@mail.com"
                    required>
            </div>
    
            <div class="form-group">
                <label>Адреса:</label>
                <input type="text" name="address" value="{{ item.address if item else '' }}" required
                    placeholder="Вул. Будівельників, 1">
            </div>
    
            <div class="form-buttons">
                <button type="submit" class="btn btn-secondary"> Зберегти</button>
                <a href="{{ url_for('customers') }}" style="flex: 1; text-decoration: none;">
                    <button type="button" class="btn btn-outline" style="width: 100%;"> Закрити</button>
                </a>
            </div>
        </form>
    </div>
    
</body>
</html>